    <table class="table table-light table-sm">
      <tr>
        <td class="px-2">
          <h6><%= heading %></h6>
          <hr class="mt-1 mb-1">
          <%= total %>
        </td>
      </tr>
    </table>