<div class="card mb-3 shadow-lg rounded border mgf-body main-display">
  <div class="card-body text-dark">
    
    <h3 class="text-center"><%= @user.name %>'s account</h3>
    EMAIL: <%= @user.email %>
    
  </div>
</div>